/* GameUI.css - Position GameButton components like a gamepad */
.game-ui-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}


.up {
  position: absolute;
  top: 15%;
  left: 50%;
  /* Use CSS variable for transform */
  --game-ui-transform: translateX(-50%);
}


.down {
  position: absolute;
  bottom: 10%;
  left: 50%;
  --game-ui-transform: translateX(-50%);
}


.left {
  position: absolute;
  top: 50%;
  left: 20px;
  --game-ui-transform: translateY(-50%);
}


.right {
  position: absolute;
  top: 50%;
  right: 0%;
  --game-ui-transform: translateY(-50%);
}


.action {
  position: absolute;
  top: 50%;
  left: 50%;
  --game-ui-transform: translate(-50%, -50%);
}
