.game-button {
    border: none;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1450a3;
    color: #bf55bc;
    cursor: pointer;
    box-shadow: 0 0 0 6px #bf55bc, 0 0 24px 6px #1860cb; /* Mario-like glow */
    transition: all 0.25s cubic-bezier(.4,0,.2,1);
    width: 60px;
    height: 60px;
    font-size: 60px/2.5;
}

.game-button:active {
    box-shadow: 0 0 0 6px #bf55bc, 0 0 0 2px #3a3d40,
      0 0 0 4px rgba(0, 0, 0, 0.25), 0 4px 12px -5px rgba(0, 0, 0, 0.53),
      0 6px 6px -4px rgba(0, 0, 0, 0.35);
    background: #1450a3;
    transition: all 0.25s cubic-bezier(.4,0,.2,1);
}
